:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --Facebook: #4267b2;
    --Twitter: hsl(203, 89%, 53%);
    --Instagram1: hsl(60, 20%, 1%);
    --Instagram2: hsl(329, 70%, 58%);

    /* 0-50 good GREEN  bg:b0eacd top:216353*/
    --green-bg: #b0eacd50;
    --green-top: #0fb641;
    /* 51-100 moderate YELLOW  bg: f6f578 top: f6d743*/
    --yellow-bg: #e7ff0d63;
    --yellow-top: #faea5b;
    /* 101-150 bg:ffbd69 top:ff5733 unhealthy for sensitive groups ORANGE*/
    --orange-bg: #ffbd6950;
    --orange-top: #fc7c5f;
    /* 151-200 Unhelthy RED bg:ff4545 top:c50000*/
    --red-bg: #ff454550;
    --red-top: #c50000;
    /* 201-300 Very Unhealthy PURPLE bg: fbcffc top: be79df*/
    --purple-bg: #fbcffc50;
    --purple-top: #be79df;
    /* 301-500 Hazourdous BROWN bg:935656 top:6a0000*/
    --brown-bg: #93565650;
    --brown-top: #6a0000;
    /* grid padding */
    --grid-padding: 0.5em;

    /* ICON height and padding */
    --icon-height: 1em;
    --icon-padding: 0.2em;
}
* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
/*
  Theme
*/
.dark {
    --card-background: hsl(228, 28%, 20%);
    --card-background-highlight: hsl(228, 28%, 30%);
    --main-background: hsl(230, 17%, 14%);
    --main-background-top: hsl(232, 19%, 15%);
    --main-font: white;
    --secondary-font: hsl(228, 34%, 66%);
    --cards-font: #eee;
}

.light {
    --card-background: hsl(227, 47%, 96%);
    --card-background-highlight: hsl(227, 47%, 91%);
    --main-background: white;
    --main-font: hsl(230, 17%, 14%);
    --secondary-font: hsl(228, 12%, 44%);
    --cards-font: #000;
}

body {
    background: linear-gradient(
        to bottom,
        var(--main-background-top) 30%,
        var(--main-background) 30% 80%,
        var(--main-background) 80%
    );
    margin: 0 auto;
    max-width: 1200px;
    position: relative;

    color: var(--main-font);
    font-family: "Montserrat", sans-serif;
}

/* 


MOBILE FIRST CSS


*/
/********************************
*            HEADER             *
*********************************/
.header {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
}
.header h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 1.5em;
    padding-bottom: 1em;
    font-weight: 700;
}
.right {
    display: inline-block;
    padding-top: 1em;
}
.right p {
    color: var(--secondary-font);
}
.switch {
    float: right;
    clear: both;
}
/********************************
*            CARDS              *
*********************************/
.mobile-visible {
    display: none;
}
/****************
       Cards
  ***************/
.cards-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.card {
    background: var(--card-background);
    /* padding: 1.7em 1em 0.5em 1em; */
    padding: 1em;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    text-align: center;
    font-weight: 300;
    border-radius: 5px;
    color: var(--cards-font);
}

.city {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: var(--grid-padding);
    /* font-family: "Montserrat", sans-serif; */
    /* font-size: 300; */
    font-weight: 400;
}
.temp {
    grid-column-start: 2;
    grid-row: 1;
    padding: var(--grid-padding);
}
.aqi {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 600;
    padding: var(--grid-padding);
}
.humidity {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: var(--grid-padding);
}
.pressure {
    grid-column-start: 2;
    padding: var(--grid-padding);
}
.delete {
    grid-column: 1 / 3;
    padding: var(--grid-padding);
}

/*******************************
*        weather icons         *
********************************/

/* iconsout */
.uil-building {
    font-size: 1em;
}
.uil-dashboard {
    font-size: 1.35em;
}
.uil-celsius {
    font-size: 1em;
}
.uil-tear {
    font-size: 1.5em;
}
.uil-trash-alt {
    font-size: 1.5em;
}
/**********************************
* cards background and border-top *
***********************************/
.green {
    background-color: var(--green-bg);
    border-top: 5px solid var(--green-top);
}
.yellow {
    background-color: var(--yellow-bg);
    border-top: 5px solid var(--yellow-top);
}
.red {
    background-color: var(--red-bg);
    border-top: 5px solid var(--red-top);
}
.orange {
    background-color: var(--orange-bg);
    border-top: 5px solid var(--orange-top);
}
.purple {
    background-color: var(--purple-bg);
    border-top: 5px solid var(--purple-top);
}
.brown {
    background-color: var(--brown-bg);
    border-top: 5px solid var(--brown-top);
}

/***************************
*          search          *
****************************/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
.search-button {
    width: 100%;
    height: 3em;
    border-radius: 3px;
}
.search-or {
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
}
.search-input {
    height: 2.5em;
}
/* algolia search dropdown*/
.ap-dropdown-menu {
    background-color: rgb(3, 4, 70);
}

@media only screen and (min-width: 576px) {
    /* header */
    .header {
        flex-direction: row;
    }
    .right {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin-left: 60%;
    }
    .right p {
        padding-top: 0.2em;
        padding-right: 0.5em;
    }
    /* hide <hr> */
    .mobile {
        display: none;
    }
    /* Cards */
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 22%;
        /* height: 20vh; */
    }

    /* search */
    .search {
        flex-direction: row;
        align-items: center;
    }
    .search-button {
        width: 100%;
        height: 3em;
    }
    .search-or {
        padding: 0 2em;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    .card {
        width: 40%;
    }
}
